#map { 
    
    height: 400px; 
    width: 100%;
    display: inline-block;
}

body{

    text-align: center;
}
.jumbotron {
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-bottom: 10px;
 }
#stravaImg {
    height: 50%;
    width: auto;
}

#footerText {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size:larger;
    text-align:center;
    font-weight: bold;
    padding-top:10px;
}

.footer {
    background-color: #5bc0de;
    color: white;
   

}

.card-header {
    font-size:larger;
    font-weight: bolder;
}

#chartContainer {
    height: 400px;
    width: 400px;
}